@tailwind base;
@tailwind components;
@tailwind utilities;



/* .banner-container {
  @apply flex flex-col items-center justify-center;
}

/* .banner-item {
  @apply p-4;
} */
/* 
.banner-item img {
  @apply w-full h-full;
} */ */

.enquiryBtn::before {
  transition: all .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  left: 50%;
  right: 50%;
  opacity: 0;
  content: "";
  background-color: #0060C2;
}

